<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162938656196-r01veapl2tpdtv3nut9tcshbim4qfc0o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162938656196-r01veapl2tpdtv3nut9tcshbim4qfc0o</string>
	<key>API_KEY</key>
	<string>AIzaSyD1SBhqnXjhfNsz3-ufk035OabEIXm2YEA</string>
	<key>GCM_SENDER_ID</key>
	<string>162938656196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.orderApp</string>
	<key>PROJECT_ID</key>
	<string>order-22222</string>
	<key>STORAGE_BUCKET</key>
	<string>order-22222.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162938656196:ios:79ade7fbff1fa43c980091</string>
</dict>
</plist>